/reader export-ignore
/tests export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/CLAUDE.md export-ignore
/phpunit.xml export-ignore
/pint.json export-ignore
/tools export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
